#style-11{
  height: 100vh;
  overflow: auto;
}
#style-11::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 5px;
background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar
{
width: 5px;
background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
border-radius: 5px;
background-color: #0082e6ad;
}


textarea{
  height: 25vh;
  overflow: auto;
}
textarea::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
  cursor: pointer;

background-color: #F5F5F5;
}

textarea::-webkit-scrollbar
{
  cursor: pointer;
width: 10px;
background-color: #F5F5F5;
}

textarea::-webkit-scrollbar-thumb
{
border-radius: 10px;
  cursor: pointer;
background-color: #0082e6ad;
}